@model TelegramLib.Models.UserModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Info view.</h1>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
</dl>