<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TelegramLogger</title>
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TelegramLogger.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav>
			<a class="logo" asp-area="" asp-controller="Home" asp-action="Index">TelegramProject</a>
			<ul class="navbar-nav flex-grow-1">
				<li>
					<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Telegram" asp-action="Index">Info</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Telegram" asp-action="Users">Users</a>
				</li>
			</ul>
		</nav>
	</header>

	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<footer>
		<hr />
		&copy; 2022 - TelegramProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</footer>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
